{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

<style>
    .upload-icon {
    fill: rgb(107,114,128)
    }

    .parent-container:hover p, .parent-container:hover .upload-icon {
    color: royalblue;
    fill: royalblue;
    }

    .parent-container:hover {
    border-color: royalblue;
    }
</style>

{% block content %}
    <div class="sm:w-3/4 lg:w-1/2 mx-auto p-6">
        <h1 class="mb-6 text-3xl text-slate-500 dark:text-slate-400">{{ title }}</h1>
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">Título</label><br>
                {{ form.title }}
            </div>
            <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">Archivo</label><br>
            <div class="parent-container mb-3 cursor-pointer rounded-xl border-dashed border-2 border-gray-400 relative flex justify-center items-center">
                {{ form.image }}
                <div class="w-64 h-20 flex justify-center items-center">
                    <div class="mr-2 text-gray-500 dark:text-gray-400">
                        <svg class="upload-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
                        </svg>
                    </div>
                    <div>
                        <p class="text-gray-500 dark:text-gray-400 mb-1 text-lg file_name">Subir un archivo</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400"><span class="text-blue-500">elegir uno</span> o soltarlo aquí</p>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">...o usar un link de Instagram</label><br>
                {{ form.ig_url }}
            </div>
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                </div>
            {% endif %}
            <button class="my-2 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Crear</button>
        </form>
    </div>
    <script>
        const input_file = document.querySelector('#id_image');
        input_file.addEventListener('change', function(e){
            let file_name = e.target.files[0].name;
            document.querySelector('.file_name').innerText = file_name;
        })
    </script>
{% endblock %}