{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'f/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'f/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'f/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'f/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'f/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'f/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'f/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'f/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'f/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'f/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'f/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'f/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'f/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'f/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'f/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <script src="https://cdn.tailwindcss.com/3.0.23"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
        <script>
            if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark')
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>{% block title %}{% endblock %} | Memear</title>
        <style>
            .dropdown:focus-within .dropdown-menu {
                opacity:1;
                transform: translate(0) scale(1);
                visibility: visible;
            }
        </style>
    </head>
    <body oncontextmenu="return false;" class="bg-white dark:bg-slate-900">
        <nav role="navigation" class="sticky top-0 xl:block hidden">
            <div class="mx-auto container px-6 py-2 xl:py-2">
                <div class="flex items-center justify-between">
                    <!-- NAVBAR DESKTOP -->
                    <div class="flex gap-5 items-center">
                        <a href="/">
                            <img draggable="false" src="{% static 'core/logo.png' %}" width="30rem" >
                        </a>
                        <a href="/" class="ml-1 font-semibold dark:text-gray-200 text-gray-800">Memear</a>
                        {% if request.user.is_authenticated %}
                            <button aria-label="dropdown" class="focus:outline-none py-3 flex items-center relative" onclick="dropdownHandler(this)">
                                <ul class="bg-white dark:bg-slate-900 p-2 w-40 border rounded-xl dark:border-gray-400 border-gray-800 absolute right-10 shadow top-3 mt-16 hidden">
                                    {% if upvoted or top %}
                                        <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                            <a href="{% url 'core:index' %}?fresh=1" class="flex items-center">
                                                <span class="my-2 ml-3"><i class="fa-solid fa-bolt-lightning"></i> Lo nuevo</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if not top %}
                                        <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                            <a href="{% url 'core:index' %}?top=1" class="flex items-center">
                                                <span class="my-2 ml-3"><i class="fa-solid fa-medal"></i> Lo mejor</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if not upvoted %}
                                        <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                            <a href="{% url 'core:index' %}?upvoted=1" class="flex items-center">
                                                <span class="my-2 ml-3"><i class="fa-solid fa-bookmark"></i> Lo que me gustó</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="cursor-pointer flex flex-nowrap items-center p-3 text-sm rounded-xl mx-2 gap-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500 border dark:border-slate-300 border-slate-700">
                                    {% if not top and not upvoted  %}<span class="ml-2"><i class="fa-solid fa-bolt-lightning"></i> Viendo lo más nuevo</span>{% endif %}
                                    {% if top %}<span class="ml-2"><i class="fa-solid fa-medal"></i> Viendo lo mejor</span>{% endif %}
                                    {% if upvoted %}<span class="ml-2"><i class="fa-solid fa-bookmark"></i> Viendo lo que te gustó</span>{% endif %}
                                    <div class="ml-2 dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                            <polyline points="6 9 12 15 18 9"></polyline>
                                        </svg>
                                    </div>
                                </div>
                            </button>
                        {% endif %}
                    </div>
                    <div class="flex">
                        <div class="hidden xl:flex gap-5">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'meme:new_meme' %}" class="flex items-center p-3 text-lg rounded-xl mx-2 gap-2 font-semibold dark:text-gray-800 text-gray-200 hover:text-gray-500 dark:bg-slate-300 bg-slate-700"><i class="fa-solid fa-circle-plus"></i> Nuevo Meme</a>
                                <div class="px-3 ml-3 rounded-full dark:bg-gray-300 bg-gray-900">
                                    <button aria-label="dropdown" class="focus:outline-none py-3 flex items-center relative" onclick="dropdownHandler(this)">
                                        <ul class="bg-white dark:bg-slate-900 p-2 w-40 border rounded-xl dark:border-gray-400 border-gray-800 absolute right-0 shadow top-0 mt-16 hidden">
                                            <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500 js-theme-toggle">
                                                <a href="javascript:void(0)" class="flex items-center">
                                                    <span class="my-3 ml-6 block dark:hidden"><i class="fas fa-moon"></i> Tema oscuro</span>
                                                    <span class="my-3 ml-6 hidden dark:block"><i class="fas fa-lightbulb"></i> Tema claro</span>
                                                </a>
                                            </li>
                                            <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                                <a href="" class="flex items-center">
                                                    <span class="my-3 ml-6"><i class="fa-solid fa-circle-user"></i> Mi cuenta</span>
                                                </a>
                                            </li>
                                            <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                                <a href="{% url 'core:logout_user' %}" class="flex items-center">
                                                    <span class="my-3 ml-6"><i class="fa-solid fa-right-from-bracket"></i> Salir</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="cursor-pointer pl-3 rounded-full">
                                            <img draggable="false" class="h-8 w-8" src="{{ request.user.profile.pfp.url }}" />
                                        </div>
                                        <div class="ml-2 text-gray-100 dark:text-gray-600">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            {% else %}
                                <a href="{% url 'core:signup' %}" class="flex gap-2 items-center p-3 text-lg rounded-xl mx-2 text-md font-semibold dark:text-gray-800 text-gray-200 hover:text-gray-500 dark:bg-slate-300 bg-slate-700"><i class="fa-solid fa-user-plus"></i> Registrarse</a>
                                <a href="{% url 'core:login_user' %}" class="flex gap-2 items-center p-3 text-lg rounded-xl mx-2 text-md font-semibold dark:text-gray-800 text-gray-200 hover:text-gray-500 dark:bg-slate-300 bg-slate-700"><i class="fa-solid fa-right-to-bracket"></i> Ingresar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav>
            <div class="py-4 px-6 w-full flex xl:hidden justify-between items-center bg-white dark:bg-slate-900 fixed top-0 z-40">
                <a href="/">
                    <img draggable="false" src="{% static 'core/logo.png' %}" width="30rem" >
                </a>
                <div class="flex items-center">
                    <button id="menu" aria-label="open menu" class="focus:outline-none focus:ring-2 focus:ring-gray-600 rounded-md dark:text-gray-200 text-gray-800" onclick="sidebarHandler(true)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="4" y1="6" x2="20" y2="6" />
                            <line x1="4" y1="12" x2="20" y2="12" />
                            <line x1="4" y1="18" x2="20" y2="18" />
                        </svg>
                    </button>
                </div>
            </div>
            <!--Mobile responsive sidebar-->
            <div class="fixed w-full h-full transform -translate-x-full z-40 xl:hidden" id="mobile-nav">
                <div class="dark:bg-slate-900 bg-white dark:text-gray-200 text-gray-800 opacity-50 w-full h-full" onclick="sidebarHandler(false)"></div>
                <div class="w-64 z-40 fixed overflow-y-auto z-40 top-0 dark:bg-slate-900 bg-slate-200 shadow h-full flex-col justify-between xl:hidden pb-4 transition duration-150 ease-in-out">
                    <div class="px-6 h-full">
                        <div class="flex flex-col justify-between h-full w-full">
                            <div>
                                <div class="mt-6 flex w-full items-center justify-between">
                                    <div class="flex items-center justify-between w-full">
                                        <div class="flex items-center gap-3">
                                            <a href="/">
                                                <img draggable="false" src="{% static 'core/logo.png' %}" width="30rem" >
                                            </a>
                                            <a href="/" tabindex="0" class="focus:outline-none text-base md:text-2xl dark:text-gray-200 text-gray-800 ml-1">Memear</a>
                                        </div>
                                        <button id="cross" aria-label="close menu" class="focus:outline-none focus:ring-2 rounded-md dark:text-gray-200 text-gray-800" onclick="sidebarHandler(false)">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <ul class="mt-8 f-m-m">
                                        <li>
                                            <div class="dark:text-gray-800 text-gray-200 py-3 rounded-xl hover:text-gray-500 dark:bg-slate-300 bg-slate-700">
                                                <div class="flex items-center gap-3">
                                                    <p tabindex="0" class="xl:text-base text-base ml-3"><a href="{% url 'meme:new_meme' %}"><i class="fa-solid fa-circle-plus"></i> Nuevo Meme</a></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <button aria-label="dropdown" class="focus:outline-none w-full py-3 flex items-center relative" onclick="dropdownHandler(this)">
                                                <ul class="bg-white dark:bg-slate-900 p-2 w-40 border rounded-xl dark:border-gray-400 border-gray-800 absolute right-10 shadow top-3 mt-16 hidden">
                                                    {% if upvoted or top %}
                                                        <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                                            <a href="{% url 'core:index' %}?fresh=1" class="flex items-center">
                                                                <span class="my-2 ml-3"><i class="fa-solid fa-bolt-lightning"></i> Lo nuevo</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    {% if not top %}
                                                        <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                                            <a href="{% url 'core:index' %}?top=1" class="flex items-center">
                                                                <span class="my-2 ml-3"><i class="fa-solid fa-medal"></i> Lo mejor</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    {% if not upvoted %}
                                                        <li class="cursor-pointer text-sm leading-3 tracking-normal py-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                                            <a href="{% url 'core:index' %}?upvoted=1" class="flex items-center">
                                                                <span class="my-2 ml-3"><i class="fa-solid fa-bookmark"></i> Lo que me gustó</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                                <div class="cursor-pointer flex flex-nowrap items-center p-3 text-sm rounded-xl mx-2 gap-2 font-semibold dark:text-gray-200 text-gray-800 hover:text-gray-500 border dark:border-slate-300 border-slate-700">
                                                    {% if not top and not upvoted  %}<span class="ml-2"><i class="fa-solid fa-bolt-lightning"></i> Viendo lo más nuevo</span>{% endif %}
                                                    {% if top %}<span class="ml-2"><i class="fa-solid fa-medal"></i> Viendo lo mejor</span>{% endif %}
                                                    {% if upvoted %}<span class="ml-2"><i class="fa-solid fa-bookmark"></i> Viendo lo que te gustó</span>{% endif %}
                                                    <div class="ml-2 dark:text-gray-200 text-gray-800 hover:text-gray-500">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down cursor-pointer" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z"></path>
                                                            <polyline points="6 9 12 15 18 9"></polyline>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </li>
                                        <li class="js-theme-toggle cursor-pointer">
                                            <div class="dark:text-gray-200 text-gray-800 my-8">
                                                <div class="flex items-center gap-3 ml-3">
                                                    <p class="xl:text-base text-base ml-3 block dark:hidden"><i class="fas fa-moon"></i> Tema oscuro</p>
                                                    <p class="xl:text-base text-base ml-3 hidden dark:block"><i class="fas fa-lightbulb"></i> Tema claro</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="cursor-pointer">
                                                <div class="dark:text-gray-200 text-gray-800 my-8">
                                                    <div class="flex items-center gap-3">
                                                        <p tabindex="0" class="xl:text-base text-base ml-3"><a href="#"><i class="fa-solid fa-circle-user"></i> Mi cuenta</a></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="cursor-pointer">
                                                <div class="dark:text-gray-200 text-gray-800 my-8">
                                                    <div class="flex items-center gap-3">
                                                        <p tabindex="0" class="xl:text-base text-base ml-3"><a href="{% url 'core:logout_user' %}"><i class="fa-solid fa-right-from-bracket"></i> Salir</a></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                {% else %}
                                    <ul class="f-m-m">
                                        <li>
                                            <a class="cursor-pointer">
                                                <div class="dark:text-gray-200 text-gray-800 my-8">
                                                    <div class="flex items-center gap-3">
                                                        <p tabindex="0" class="xl:text-base text-base ml-3"><a href="{% url 'core:login_user' %}"><i class="fa-solid fa-right-to-bracket"></i> Ingresar</a></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="cursor-pointer">
                                                <div class="dark:text-gray-200 text-gray-800 my-8">
                                                    <div class="flex items-center gap-3">
                                                        <p tabindex="0" class="xl:text-base text-base ml-3"><a href="{% url 'core:signup' %}"><i class="fa-solid fa-user-plus"></i> Registrarse</a></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                            <ul>
                                <li>
                                    <a class="cursor-pointer">
                                        <div class="text-gray-400 text-sm py-1">
                                            <div class="flex items-center">
                                                <p tabindex="0" class="xl:text-base text-base ml-3">Términos de uso</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="cursor-pointer">
                                        <div class="text-gray-400 text-sm py-1">
                                            <div class="flex items-center">
                                                <p tabindex="0" class="xl:text-base text-base ml-3">Privacidad</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="cursor-pointer">
                                        <div class="text-gray-400 text-sm py-1">
                                            <div class="flex items-center">
                                                <p tabindex="0" class="xl:text-base text-base ml-3">Contacto</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <script>
            function dropdownHandler(element) {
                let single = element.getElementsByTagName("ul")[0];
                single.classList.toggle("hidden");
            }

            function MenuHandler(el, val) {
                let MainList = el.parentElement.parentElement.getElementsByTagName("ul")[0];
                let closeIcon = el.parentElement.parentElement.getElementsByClassName("close-m-menu")[0];
                let showIcon = el.parentElement.parentElement.getElementsByClassName("show-m-menu")[0];
                if (val) {
                    MainList.classList.remove("hidden");
                    el.classList.add("hidden");
                    closeIcon.classList.remove("hidden");
                } else {
                    showIcon.classList.remove("hidden");
                    MainList.classList.add("hidden");
                    el.classList.add("hidden");
                }
            }
            // ------------------------------------------------------
            let sideBar = document.getElementById("mobile-nav");
            let menu = document.getElementById("menu");
            let cross = document.getElementById("cross");
            const sidebarHandler = (check) => {
                if (check) {
                    sideBar.style.transform = "translateX(0px)";
                    menu.classList.add("hidden");
                    cross.classList.remove("hidden");
                } else {
                    sideBar.style.transform = "translateX(-100%)";
                    menu.classList.remove("hidden");
                    cross.classList.add("hidden");
                }
            };
            let list = document.getElementById("list");
            let chevrondown = document.getElementById("chevrondown");
            let chevronup = document.getElementById("chevronup");
            const listHandler = (check) => {
                if (check) {
                    list.classList.remove("hidden");
                    chevrondown.classList.remove("hidden");
                    chevronup.classList.add("hidden");
                } else {
                    list.classList.add("hidden");
                    chevrondown.classList.add("hidden");
                    chevronup.classList.remove("hidden");
                }
            };
        </script>
        <div class="sm:max-md:py-28 py-8">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="xl:block hidden bottom-0 fixed w-full py-3 px-3 flex justify-start bg-gray-500">
            <div class="container">
                <div class="flex justify-end">
                    <a href="#" class="js-theme-toggle text-sm px-3 font-semibold hover:text-white">
                        <span class="block dark:hidden"><i class="fas fa-moon"></i> Tema oscuro</span>
                        <span class="hidden dark:block"><i class="fas fa-lightbulb"></i> Tema claro</span>
                    </a>
                    <a href="#" class="text-sm px-3 font-semibold hover:text-white">Términos de uso</a>
                    <a href="#" class="text-sm px-3 font-semibold hover:text-white">Privacidad</a>
                    <a href="#" class="text-sm px-3 font-semibold hover:text-white">Contacto</a>
                </div>
            </div>
        </footer>
        <script>
            let theme = localStorage.getItem('theme');
                    
            const themeTogglers = document.querySelectorAll('.js-theme-toggle')

            const goDark = function() {
                document.documentElement.classList.add('dark')
                localStorage.setItem('theme', 'dark');
            }

            const goLight = function() {
                document.documentElement.classList.remove('dark')
                localStorage.setItem('theme', 'light');
            }


            themeTogglers.forEach(themeToggle => {
                themeToggle.addEventListener('click', function() {
                    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                        goLight();
                    } else {
                        goDark();
                    }
                });
            });

        </script>
    </body>
</html>