{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if request.user.is_authenticated %}
        <div id="memecontent" class="sm:max-md:pt-3 mt-3 mx-auto py-6"></div>
        <style>
            #loading {
                transition: opacity 1s ease-out;
                opacity: 1;
            }
            .like-arrow {
                position: absolute;
                width: 250px;
                height: 250px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background: url("{% static 'core/up-256.png' %}") no-repeat center/contain;
                opacity: 0;
                transform: scale(0);
            }

            .meme-img .like-arrow {
                animation-duration: 1000ms;
                animation-name: like-arrow-animation;
                animation-timing-function: ease-in-out;
            }

            @keyframes like-arrow-animation {
                0% {
                    opacity: 0;
                    transform: scale(0);
                }
                15% {
                    opacity: 0.9;
                    transform: scale(1.2);
                }
                30% {
                    transform: scale(0.95);
                }
                45%, 80% {
                    opacity: 0.9;
                    transform: scale(1);
                }
            }
        </style>
        
        <div id="loading">Cargando...</div>
        
        <script>
            function dblTapUpvote(el, mid) {
                el.closest(".meme-img").children[0].classList.add("like-arrow");
                window.location.href = `{% url 'meme:upvote_meme' %}?id=${mid}`;
            }
            async function getData(url, page, paginateBy, fresh=undefined, top=undefined, upvoted=undefined) {
                const urlWithParams = url + "?" + new URLSearchParams({
                    page: page,
                    per_page: paginateBy,
                    fresh: fresh,
                    top: top,
                    upvoted: upvoted
                })
                const response = await fetch(urlWithParams);
                return response.json();
            }
        
            class ScrollMorePaginator {
                constructor(perPage) {
                    this.perPage = perPage
                    this.pageIndex = 1
                    this.lastPage = false
                    this.container = document.querySelector("#memecontent")
                    this.elements = document.querySelectorAll("article")
                    this.loader = document.querySelector("#loading")
                    this.options = {
                        root: null,
                        rootMargin: "0px",
                        threshold: 0.25
                    }
                    this.loadMore()
                    this.watchIntersection()
                }
        
                onIntersect() {
                    if (!this.lastPage) {
                        this.pageIndex++
                        this.loadMore()
                    }
                }
        
                addElement(meme) {
                    let html = `
                        <article class="mx-auto py-6 w-full max-w-3xl">
                            <header class="mb-2 not-format">
                                <h1 class="pb-1 text-3xl font-extrabold dark:text-gray-200 text-gray-800">${meme.title}</h1>
                            </header>
                            <figure>`
                    if (!(meme.upvoted || meme.downvoted)) {
                        html += `<div class="meme-img relative"><div class="arrow"></div><img ondblclick="dblTapUpvote(this, ${meme.id})" class="mx-auto" draggable="false" src="${meme.image_url}" alt=""></div>`
                    } else {
                        html += `<img class="mx-auto" draggable="false" src="${meme.image_url}" alt="">`
                    }
                    html += `<figcaption>
                                    <div class="pt-1 flex items-center gap-1 flex-row">
                                        <div class="flex items-center ">
                                            <div class="p-2 rounded-full dark:border-gray-400 border-gray-800">
                                                <img draggable="false" class="h-5 w-5" src="${meme.pfp_url}" alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="text-xs text-gray-500">${meme.created_by}</div>
                                            <div class="text-xs text-gray-500">${meme.created_at}</div>
                                        </div>
                                    </div>
                                </figcaption>
                                <div class="flex gap-3 justify-end items-center">`
                    if (meme.net_vote_count > 0) {
                        html += `<span class="dark:text-lime-300 text-lime-700 text-md font-semibold">Puntaje: ${meme.net_vote_count}</span>`
                    } else if (meme.net_vote_count < 0) {
                        html += `<span class="dark:text-red-300 text-red-700 text-md font-semibold">Puntaje: ${meme.net_vote_count}</span>`
                    } else {
                        html += `<span class="dark:text-gray-200 text-gray-800 text-md font-semibold">Puntaje: ${meme.net_vote_count}</span>`
                    }
                    if (meme.upvoted || meme.downvoted) {
                        if (meme.upvoted) {
                            html += `<a href="{% url 'meme:upvote_meme' %}?id=${meme.id}" class="px-3 py-2 rounded-full items-center text-md font-semibold bg-lime-700 hover:bg-lime-400 hover:text-gray-700 text-gray-100"><div class="flex items-center gap-2"><i class="fas fa-arrow-up"></i><span class="text-xs"><i class="fas fa-check"></i></span></div></a>
                                            <button disabled class="cursor-not-allowed disabled:opacity-60 px-3 py-2 rounded-full items-center text-md font-semibold bg-red-500"><div class="flex items-center gap-2"><i class="fas fa-arrow-down"></i></div></button>`;
                        } else {
                            html += `<button disabled class="cursor-not-allowed disabled:opacity-60 px-3 py-2 rounded-full items-center text-md font-semibold bg-lime-400"><div class="flex items-center gap-2"><i class="fas fa-arrow-up"></i></div></button>
                                        <a href="{% url 'meme:downvote_meme' %}?id=${meme.id}" class="px-3 py-2 rounded-full items-center text-md font-semibold hover:bg-red-500 bg-red-800 text-gray-100"><div class="flex items-center gap-2"><i class="fas fa-arrow-down"></i><span class="text-xs"><i class="fas fa-check"></i></span></div></a>`;
                        }
                    } else {
                        html += `<a href="{% url 'meme:upvote_meme' %}?id=${meme.id}" class="px-3 py-2 rounded-full items-center text-md font-semibold bg-lime-400 hover:bg-lime-700 hover:text-gray-100"><div class="flex items-center gap-2"><i class="fas fa-arrow-up"></i></div></a>
                                    <a href="{% url 'meme:downvote_meme' %}?id=${meme.id}" class="px-3 py-2 rounded-full items-center text-md font-semibold bg-red-500 hover:bg-red-800 hover:text-gray-100"><div class="flex items-center gap-2"><i class="fas fa-arrow-down"></i></div></a>`;
                    }
                    html += `<a href="#" class="px-3 py-2 rounded-full items-center text-md font-semibold bg-sky-300 hover:bg-sky-700 hover:text-gray-100"><div class="flex items-center gap-2"><i class="fa-solid fa-share-nodes"></i></div></a></div></figure></article>`;
                    this.container.innerHTML += html;
                }
        
                watchIntersection() {
                    document.addEventListener("DOMContentLoaded", () => {
                        const observer = new IntersectionObserver(this.onIntersect.bind(this),
                            this.options);
                        observer.observe(this.loader);
                    })
                }
        
                loadMore() {
                    getData("{% url 'meme:memes-api' %}", 
                        this.pageIndex, 
                        this.perPage,
                        {% if fresh %}1{% else %}0{% endif %},
                        {% if top %}1{% else %}0{% endif %},
                        {% if upvoted %}1{% else %}0{% endif %},
                        )
                        .then(response => {
                            response.data.forEach((el) => {
                                this.addElement(el)
                            });
                            this.loader.style.opacity = !response.page.has_next ? "0" : "1"
                            this.lastPage = !response.page.has_next
                        });
                }
            }

            new ScrollMorePaginator(2);

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
                return false;
            };
        </script>
    {% else %}
        <style>
            body {
                overflow: hidden;
            }
        </style>
        <div class="pb-5 h-screen flex w-full items-center justify-center">
            <img class="mx-auto xl:mb-16 xl:pb-16 fixed" draggable="false" src="{% static 'core/logo_text.png' %}">
        </div>
    {% endif %}
{% endblock %}

