{% extends 'core/base.html' %}

{% block title %}Ingresar{% endblock %}

{% block content %}
    <div class="sm:w-3/4 lg:w-1/2 mx-auto p-6">
        <h1 class="mb-6 text-3xl text-slate-500 dark:text-slate-400">Iniciar sesión</h1>
        <form method="post" action=".">
            {% csrf_token %}
            <div class="mb-3">
                <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">E-mail</label><br>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">Contraseña</label><br>
                {{ form.password }}
            </div>
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button class="my-2 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Ingresar</button>
        </form>
    </div>
{% endblock %}

