{% extends 'core/base.html' %}

{% block title %}Registrarse{% endblock %}

{% block content %}
    <div class="sm:w-3/4 lg:w-1/2 mx-auto p-6">
        <h1 class="mb-6 text-3xl text-slate-500 dark:text-slate-400">Registrarse</h1>
        <form method="post" action=".">
            {% csrf_token %}
            <input type="hidden" value="{{ username }}" name="username" id="username_input">
            <div class="mb-3">
                <div class="flex justify-start items-center">
                    <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">Nombre de usuario</label><br>
                    <button onclick="new_un()" type="button" role="button" class="dark:text-gray-800 text-gray-200 dark:bg-gray-300 bg-gray-700 hover:bg-gray-500 rounded-full text-sm px-3 py-1 ml-3 mb-1"><i class="fas fa-redo-alt"></i></button>
                </div>
                <div class="flex justify-start items-center">
                    <span id="username_span" class="w-full py-3 px-6 rounded-xl border dark:border-gray-300 border-gray-600 bg-gray-300 dark:bg-gray-700 text-gray-500 dark:text-gray-400">{{ username }}</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">E-mail</label><br>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">Contraseña</label><br>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-2 font-semibold text-gray-500 dark:text-gray-400">Reingresar contraseña</label><br>
                {{ form.password2 }}
            </div>
            {{ form.recaptcha }}
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button class="my-2 py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Registrar</button>
        </form>
    </div>
    <script>
        function new_un() {
            async function get_un() {
                const response = await fetch('{% url "core:generate_username_json" %}', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                    },
                });
                const json = await response.json();
                return json['username'];
            }
            get_un().then(new_un => {
                document.getElementById("username_input").value = new_un;
                document.getElementById("username_span").innerHTML = new_un;
            });

        }
    </script>
{% endblock %}

